html {
    font-family: "Nunito", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    margin: 0;
}
li, h1, h2, h3, h4, p {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0 100px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 20px;
}
.menu li a {
    color: black;
    font-size: 18px;
    font-weight: 300;
}
.active {
    border-bottom: 1px solid black;
}
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    font-size: 64px;
    font-weight: 400;
    padding: 100px 0 0 0;
}
.job-title {
    color: rgb(145, 145, 145);
    padding: 40px 0 0 0;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.job-title div {
    text-align: center;
}
.web-developer-title {
    padding-left: 28px;
}
.ux-designer-title {
    padding-right: 28px;
}
.job-description {
    color: rgb(145, 145, 145);
    padding: 50px 100px 0 100px;
    font-size: 18px;
    text-align: center;
}
.works {
    padding-top: 100px;
}
.work {
    padding: 50px 100px 0 100px;
    display: flex;
}
.image-wrapper {
    overflow: clip;
    width: 600px;
    height: 500px;
}
.image-wrapper img {
    width: 600px;
    height: 500px;
    transition: transform 0.3s ease;
}
.image-wrapper:hover img {
    transform: scale(1.06);
}
.work section {
    margin-top: -9px;
    height: 500px;
    padding-left: 60px;
}
.work-name {
    font-size: 32px;
}
.work-description {
    padding-top: 20px;
    font-size: 18px;
}
.work-details {
    padding-top: 60px;
}
.work-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.work-detail p {
    font-size: 18px;
    padding-left: 4px;
}
button {
    font-size: 18px;
    width: 300px;
    height: 50px;
    background-color: white;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    border-radius: 25px;
    margin-top: 34px;
    cursor: pointer;
}
.work-color-1 {
    color: rgb(255, 136, 111);
}
.work-color-2 {
    color: rgb(53, 127, 165);
}
.work-color-3 {
    color: rgb(145, 145, 145);
}
.event-button {
    border: 2px solid rgb(255, 136, 111);
    color: rgb(255, 136, 111);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.event-button:hover {
    background-color: rgb(255, 136, 111);
    color: white;
}
.msinstalbud-button {
    border: 2px solid rgb(53, 127, 165);
    color: rgb(53, 127, 165);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.msinstalbud-button:hover {
    background-color: rgb(53, 127, 165);
    color: white;
}
.southernrightacupuncture-button {
    border: 2px solid rgb(145, 145, 145);
    color: rgb(145, 145, 145);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.southernrightacupuncture-button:hover {
    background-color: rgb(145, 145, 145);
    color: white;
}
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 100px 0 100px;
    border-top: 2px solid rgb(240, 240, 240);
    padding: 20px 0 12px 0;
    color: rgb(145, 145, 145);
    font-size: 12px;
    position: relative;
}
.footer-designer-part {
    position: absolute;
    left: 0;
}
.footer-my-name {
    padding-left: 3px;
    color: black;
}

/*

.header {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    width: 100vw;
    background-color: white;
    z-index: 2;
}
.header-hidden {
    top: -74px; 
}
.scroll-hidden {
    display: none;
}
.header-content {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 20px);
}
a {
    cursor: pointer;
}
label {
    position: relative;
}
input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    top: -16px;
    left: -34px;
    cursor: pointer;
    opacity: 0;
}
.bar {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;  
    top: 150px;
    right: 150px;  
}
.bar .middle {
    height: 3px;
    width: 30px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    transition: 0.3s ease;
    background-color: black;
}
.bar .top {
    bottom: 7px;
    height: 3px;
    width: 30px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    transition: 0.3s ease;
    background-color: black;
}
.bar .bottom {
    top: 10px;
    height: 3px;
    width: 30px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    transition: 0.3s ease;
    background-color: black;
}
input[type="checkbox"]:checked ~ .bar .top {
    transform: rotate(-45deg);
    width: 35px;
    transform-origin: middle;
    top: 12px
}
input[type="checkbox"]:checked ~ .bar .bottom {
    transform: rotate(45deg);
    width: 35px;
    transform-origin: middle;
    top: -2px
}
input[type="checkbox"]:checked ~ .bar .middle {
    transform: translateX(20px);
    opacity: 0;
}
nav {
    position: fixed;
    top: 48px;
    transition: top 0.1s;
    z-index: 1;
    height: calc(100% - 48px); 
    width: 100%;
}
.hidden {
    display: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
li:hover, li:active {
    background-color: red;
}
nav ul li a {
    width: calc(100vw - 20px);
}
.active {
    color: black;
    font-weight: bold;
}
*/

@media (max-width: 1200px) {
    .work {
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0;
    }
    .work section {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .work section a {
        align-self: center;
    }
    .job-description {
        padding-bottom: 50px;
    }
    footer {
        margin-top: 0;
    }
}

@media (max-width: 720px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .image-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        height: auto;
    }
    .image-wrapper img {
        width: calc(100vw - 40px);
        height: auto;
    }
    .job-description {
        padding-left: 20px;
        padding-right: 20px;
    }
    .work section {
        padding-left: 0;
    }
    footer {
        flex-direction: column;
        padding-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-designer-part {
        position: relative;
    }
    .copy-right {
        padding-top: 10px;
    }
}