html {
    font-family: "Nunito", sans-serif;
}
body {
    overflow-x: hidden;
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    margin: 0;
}
li, h1, h2, h3, h4, p {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0 100px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 20px;
}
.menu li a {
    color: black;
    font-size: 18px;
    font-weight: 300;
}
.main-image-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 100px 0 100px;
}
.main-image-section img {
    width: 280px;
    margin-right: -10px;
}
.eventful-logo-and-description {
    width: 50vw;
}
.eventful-logo-and-description img{
    width: 200px;
}
.eventful-logo-and-description h1{
    font-size: 24px;
    font-weight: 500;
    padding-top: 60px;
}
.prototype-button {
    font-size: 18px;
    width: 300px;
    height: 50px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    border-radius: 25px;
    margin-top: 34px;
    cursor: pointer;
    margin-top: 40px;
    background-color: white;
    color: rgb(255, 87, 51);
    border: 2px solid rgb(255, 87, 51);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.prototype-button:hover {
    background-color: rgb(255, 87, 51);
    color: white;
}

.overview-and-work-details {
    padding: 160px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.overview-section h2 {
    font-size: 34px;
}
.overview-section p {
   padding-top: 20px;
   font-size: 20px;
   line-height: 1.6;
}
.overview-section p span {
    font-weight: bold;
 }
 .work-details {
    padding-top: 100px;
 }
.work-details li {
    display: flex;
    font-size: 16px;
}
.work-details li p{
    font-size: 18px;
    padding: 1px 0 0 4px;
}
.work-details li::before {
    content: "•"; 
    color: rgb(255, 87, 51);
    display: inline-block;
    width: 16px;
}
.problem-and-solution {
    padding: 100px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.problem-part, .solution-part {
    width: calc(50vw - 150px);
}
.problem-part h2, .solution-part h2{
    font-size: 26px;
}
.problem-part p, .solution-part p{
    font-size: 20px;
    line-height: 1.6;
    padding-top: 10px;
}
.problem-part p span, .solution-part p span {
    font-weight: bold;
}
.carusele-images-container {
    position: relative;
    height: 600px;
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
}
.carusele-images {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1000px;
    gap: 50px;
}
.carusele-prev-image {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(145, 145, 145);
    font-size: 24px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: absolute;
    left: 10px;
    align-self: center;
    background-color: white;
    border: none;
    cursor: pointer;
}
.carusele-next-image {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(145, 145, 145);
    font-size: 24px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: absolute;
    right: 10px;
    align-self: center;
    background-color: white;
    border: none;
    cursor: pointer;
}
.carusele-images.sliding-transition {
    transition: transform 0.5s ease-in-out;
}

.research-section  {
    padding: 0 100px 0 100px;
}
.research-section h2 {
    font-size: 34px;
}
.research-section p {
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}
.research-section h2 + p {
    padding-top: 40px;
}
.diamond-bullet {
    color: rgb(255, 87, 51);
    font-size: 22px;
}
.research-section p span {
    font-weight: bold;
}
.ideation-section h2 {
    padding: 150px 100px 0 100px;
    font-size: 34px;
    font-weight: bold;
    list-style:disc;
}
.personas {
    padding: 40px 100px 0 100px;
}
.personas h3 {
    font-size: 22px;
}
.personas div {
    padding-top: 20px;
}
.personas div img {
    width: calc(50vw - 140px);
    padding-top: 40px;
}
.first-persona {
    padding: 20px 50px 0px 0px;
}
.site-map-section {
    padding: 150px 100px 0 100px;
}
.site-map-section h3 {
    font-size: 22px;
}
.site-map-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.site-map-content img {
    width: 800px;
    padding-top: 100px;
}
.site-map-texts ol {
    padding: 20px 0 0 0;
}
.site-map-texts ol li {
    counter-increment: li;
    display: flex;              
    align-items: flex-start;     
    margin-bottom: 20px;
    padding-top: 14px;
}
.site-map-texts ol {
    list-style: none; 
    counter-reset: li
}
.site-map-texts ol > li::before {
    content: counter(li);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 87, 51);
    color: white;
    font-weight: bold;
    padding: 8px 16px 8px 16px;
    border-radius: 26px;
    margin-right: 10px; 
}
.content-wrapper {
    display: flex;
    flex-direction: column;
}
.content-wrapper h4 {
    font-size: 20px;
    display: flex;
    align-items: center;         /* Center-align the number and h4 */
    margin: 0;
    font-size: 20px;
    padding: 10px 0 0 8px;
}
#site-map-first-paragraph, #site-map-last-paragraph {
    padding-top: 40px;
    margin-left: 0;
    font-size: 20px;
}
.site-map-texts p {
    margin-left: -56px;           
    font-size: 18px;
    line-height: 1.6;
    padding-top: 20px;
}
.user-flow-section {
    padding: 150px 100px 0 100px;
}
.user-flow-section img{
    padding-top: 100px;
    width: 800px;
}
.user-flow-section h3 {
    font-size: 22px;
}
.user-flow-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.user-flow-text-content {
    padding-top: 40px;
    font-size: 20px;
    line-height: 1.6;
}
.user-flow-text-content p span {
    font-weight: bold;
}
.user-flow-text-content-second-paragraph, .user-flow-text-content-third-paragraph {
    padding-top: 18px;
}
.information-architecture-section {
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
}
.information-architecture-section h3 {
    font-size: 22px;
}
.information-architecture-section img {
    padding-top: 60px;
    width: calc(100vw - 230px);
}
.low-fidelity-wireframe-section h3 {
    padding: 150px 100px 0 100px;
    font-size: 22px;
}
.wireframe-images-container {
    margin-top: 54px;
    padding: 0 100px 40px 100px;
    background-color: rgb(241, 241, 241);
}
.wireframe-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wireframe-images img {
    width: 240px;
    height: auto;
    padding-top: 58px;  
}
.design-section {
    padding-top: 150px;
}
.design-section h2 {
    font-size: 34px;
    padding: 0 100px 0 100px;
}
.style-guide-section {
    padding: 40px 100px 0 100px;
}
.style-guide-section h3 {
    font-size: 22px;
}
.style-guide-content {
    display: flex;
    align-items: center;
    padding-top: 40px;
}
.style-guide-content p {
    font-size: 20px;
    line-height: 1.6;
    padding-right: 50px;
}
.style-guide-content p span{
    font-weight: bold;
}
.style-guide-content img {
    width: 40vw;
    height: 100%;
}
.ui-design-section h3 {
    padding: 100px 100px 0 100px;
    font-size: 22px;
}
.ui-design-section p {
    font-size: 20px;
    line-height: 1.6;
    padding: 40px 100px 0 100px;
}
.ui-design-section p span {
    font-weight: bold;
}
.ui-design-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    padding: 0 100px 40px 100px;
    margin-top: 40px;
}
.ui-design-section ul li img {
    width: 240px;
    padding-top: 48px;
}
.testing-section h2 {
    font-size: 34px;
    padding: 100px 100px 0 100px;
}
.prototype-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 100px 0 100px;
}
.prototype-content h3 {
    padding-top: 40px;
    font-size: 22px;
}
.prototype-content p {
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}
.prototype-content p span {
    font-weight: bold;
}
.prototype-content a {
    margin-top: 100px;
    align-self: center;
}
.prototype-content a button {
    font-size: 22px;
    width: 400px;
    height: 100px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    border: 2px solid rgb(53, 127, 165);
    background-color: white;
    color: rgb(53, 127, 165);
    transition:  background-color 0.3s ease, color 0.3s ease;
    align-self: center;
}
.prototype-content a button:hover {
    background-color: rgb(53, 127, 165);
    color: white;
}
.usability-testing-section h3 {
    font-size: 22px;
    padding: 150px 100px 0 100px;
}
.test-scenario-description {
    padding: 34px 100px 0 100px;
    line-height: 1.6;
    font-size: 20px;
}
.test-scenario {
    font-size: 20px;
    padding: 60px 100px 0 100px;
}
.test-scenarios-list {
    list-style: none;
    counter-reset: li;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 24px 100px 0 100px;
  }

  .test-scenarios-list li {
    counter-increment: li;
    display: flex;              
    align-items: flex-start;     
    margin-bottom: 20px;
    padding-top: 14px;
  } 
  
  .test-scenarios-list > li::before {
    content: counter(li);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 127, 165);
    color: white;
    font-weight: bold;
    padding: 8px 16px 8px 16px;
    border-radius: 26px;
    margin-right: 10px; 
} 
.content h5 {
    font-size: 20px;
    display: flex;
    align-items: center;         /* Center-align the number and h4 */
    margin: 0;
    font-size: 20px;
    padding: 10px 0 0 8px;
}
.content p {
    margin-left: -56px;           
    font-size: 18px;
    line-height: 1.6;
    padding-top: 20px;
}
.user-pain-point {
    padding: 150px 100px 0 100px;
    font-size: 20px;
}
.user-pain-points-list {
    padding: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}
.user-pain-points-list li {
    margin-top: 60px;
    width: 340px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: relative;
}
.blue-user-pain-point {
    background-color: #357fa529;
}
.yellow-user-pain-point {
    background-color: rgb(245, 245, 220);
}
.orange-user-pain-point {
    background-color: rgba(255, 88, 51, 0.297);
}
.user-pain-points-list li h5 {
    font-size: 20px;
    width: calc(100% - 32px);
    margin: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 10px 10px -12px;
    padding: 16px 16px 16px 16px;
}
.user-pain-points-list li div h6 {
    font-size: 20px;
    margin: 0;
    padding: 16px 16px 0 16px;
}
.user-pain-points-list li div p {
    font-size: 20px;
    padding: 8px 16px 16px 16px;
    line-height: 1.6;
}
.iteration-and-finalization-section h2 {
    padding: 150px 100px 0 100px;
    font-size: 34px;
}
.iteration-part {
    padding: 40px 100px 0 100px;
    font-size: 20px;
    line-height: 1.6;
}
.iteration-and-finalization-section div ul {
    padding-top: 20px;
}
.iteration-list-symbol {
    color: rgb(255, 87, 51);
    font-size: 24px;
}
.things-changed {
    font-weight: bold;
}
.final-prototype-part h3 {
    font-size: 22px;
    padding: 150px 100px 0 100px;
}
.final-prototype-part p {
    font-size: 20px;
    padding: 40px 100px 54px 100px;
}
.final-prototype-container {
    position: relative;
    display: flex;
    background-color: rgb(241, 241, 241);
    padding: 40px 10px 40px 10px;
}
.final-prototype-photos {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}
.final-prototype-photo {
    object-fit: contain;
    width: 240px;
}
.prototype-prev-image  {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(145, 145, 145);
    font-size: 24px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: absolute;
    left: 10px;
    align-self: center;
    background-color: white;
    border: none;
    cursor: pointer;
}
.prototype-next-image{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(145, 145, 145);
    font-size: 24px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: absolute;
    right: 10px;
    align-self: center;
    background-color: white;
    border: none;
    cursor: pointer;
}
.carusele-images.sliding-transition {
    transition: transform 0.5s ease-in-out;
}
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 100px 0 100px;
    border-top: 2px solid rgb(240, 240, 240);
    padding: 20px 0 12px 0;
    color: rgb(145, 145, 145);
    font-size: 12px;
    position: relative;
}
.footer-designer-part {
    position: absolute;
    left: 0;
}
.footer-my-name {
    padding-left: 3px;
    color: black;
}

@media (max-width: 976px) {
    .eventful-logo-and-description {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .eventful-logo-and-description a {
        align-self: center;
    }
    .main-image-section {
        flex-direction: column;
        align-items: flex-start;
    }
    .eventful-main-image{
        margin-right: 0;
        padding-top: 100px;
        align-self: center;
    }
    .problem-and-solution {
        flex-direction: column;
    }
    .problem-part, .solution-part {
        width: 100%;
    }
    .solution-part {
        padding-top: 60px;
    }
    .personas div {
        display: flex;
        flex-direction: column;
    }
    .personas div img {
        width: 100%;
    }
    .first-persona {
        padding-right: 0;
    }
    .site-map-content img {
        width: 100%;
        padding: 100px 100px 0 100px;
    }
    .user-flow-section img {
        width: 100%;
        padding: 100px 100px 0 100px;
    }
    .style-guide-content {
        flex-direction: column;
    }
    .style-guide-content p {
        padding-right: 0;
    }
    .style-guide-content img {
        padding-top: 60px;
        width: 100%;
    }
    .user-pain-points-list {
        flex-direction: column;
        align-items: center;
    }
}