html {
    font-family: "Nunito", sans-serif;
}
body {
    overflow-x: hidden;
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    margin: 0;
}
li, h1, h2, h3, h4, p {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0 100px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 20px;
}
.menu li a {
    color: black;
    font-size: 18px;
    font-weight: 300;
}
.main-image-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 100px 0 100px;
}
.main-image-section img {
    width: 240px;
}
.eventful-logo-and-description {
    width: 50vw;
}
.eventful-logo-and-description img{
    width: 200px;
}
.eventful-logo-and-description h1{
    font-size: 24px;
    font-weight: 500;
    padding-top: 60px;
}
.prototype-button {
    font-size: 18px;
    width: 300px;
    height: 50px;
    background-color: white;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    border-radius: 25px;
    margin-top: 34px;
    cursor: pointer;
    margin-top: 40px;
    border: 2px solid rgb(255, 87, 51);
    color: rgb(255, 87, 51);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.prototype-button:hover {
    background-color: rgb(255, 87, 51);
    color: white;
}

.overview-and-work-details {
    padding: 160px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.overview-section h2 {
    font-size: 34px;
}
.overview-section p {
   padding-top: 20px;
   font-size: 20px;
   line-height: 1.6;
}
.overview-section p span {
    font-weight: bold;
 }
 .work-details {
    padding-top: 40px;
 }
.work-details li {
    display: flex;
    font-size: 16px;
}
.work-details li p{
    font-size: 18px;
    padding: 1px 0 0 4px;
}
.work-details li::before {
    content: "•"; 
    color: rgb(255, 87, 51);
    display: inline-block;
    width: 16px;
}
.problem-and-solution {
    padding: 100px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.problem-part, .solution-part {
    width: calc(50vw - 150px);
}
.problem-part h2, .solution-part h2{
    font-size: 26px;
}
.problem-part p, .solution-part p{
    font-size: 20px;
    line-height: 1.6;
    padding-top: 10px;
}
.problem-part p span, .solution-part p span {
    font-weight: bold;
}

.carusele-images-container {
    position: relative;
    height: 600px;
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
}
.carusele-images {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1000px;
    gap: 50px;
}
.carusele-prev-image {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(145, 145, 145);
    font-size: 24px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: absolute;
    left: 10px;
    align-self: center;
    background-color: white;
    border: none;
    cursor: pointer;
}
.carusele-next-image {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(145, 145, 145);
    font-size: 24px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: absolute;
    right: 10px;
    align-self: center;
    background-color: white;
    border: none;
    cursor: pointer;
}
.carusele-images.sliding-transition {
    transition: transform 0.5s ease-in-out;
}

.research-section  {
    padding: 0 100px 0 100px;
}
.research-section h2 {
    font-size: 34px;
}
.research-section p {
    font-size: 20px;
    line-height: 1.6;
}
.research-section h2 + p {
    padding-top: 40px;
}
.diamond-bullet {
    color: rgb(255, 87, 51);
    font-size: 22px;
}
.research-section p span {
    font-weight: bold;
}
.ideation-section h2 {
    padding: 100px 100px 0 100px;
    font-size: 34px;
    font-weight: bold;
    list-style:disc;
}
.personas {
    font-size: 22px;
    padding: 40px 100px 0 100px;
}
.personas div {
    padding-top: 20px;
}
.personas div img {
    width: calc(50vw - 140px);
}
.first-persona {
    padding: 20px 50px 0px 0px;
}
.site-map-section {
    padding: 100px 100px 0 100px;
}
.site-map-section h3 {
    font-size: 22px;
}
.site-map-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.site-map-content img {
    width: 800px;
    padding-top: 60px;
}
.site-map-texts p, .site-map-texts h4{
    font-size: 20px;
    line-height: 1.6;
}
.site-map-texts ol {
    padding: 10px 0 20px 10px;
}
.site-map-texts ol li {
    list-style: decimal;
}
.site-map-texts ol > li::marker {
    font-weight: bold;
  }
.site-map-first-paragraph {
    padding-top: 40px;
}
.site-map-texts {
 font-size: 18px;
}
.user-flow-section {
    padding: 100px 100px 0 100px;
}
.user-flow-section img{
    padding-top: 60px;
    width: 800px;
}
.user-flow-section h3 {
    font-size: 22px;
}
.user-flow-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.user-flow-text-content {
    padding-top: 40px;
    font-size: 20px;
    line-height: 1.6;
}
.user-flow-text-content p span {
    font-weight: bold;
}
.user-flow-text-content-second-paragraph, .user-flow-text-content-third-paragraph {
    padding-top: 18px;
}
.information-architecture-section {
    padding-top: 100px;
}
.information-architecture-section h3 {
    font-size: 22px;
}
.information-architecture-section img {
    padding-top: 60px;
    width: calc(100vw - 230px);
}
.low-fidelity-wireframe-section {
    width: 100vw;
}
.low-fidelity-wireframe-section h3 {
    padding: 100px 100px 0 100px;
    font-size: 22px;
}
.wireframe-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 87, 51);
    padding: 10px 30px 10px 10px;
    margin-top: 40px;
}
.wireframe-images img {
    width: 240px;
}
.design-section {
    padding-top: 150px;
}
.design-section h2 {
    font-size: 34px;
    padding: 0 100px 0 100px;
}
.style-guide-section {
    padding: 40px 100px 0 100px;
}
.style-guide-section h3 {
    font-size: 22px;
}
.style-guide-content {
    display: flex;
    align-items: center;
    padding-top: 40px;
}
.style-guide-content p {
    font-size: 20px;
    line-height: 1.6;
    padding-right: 50px;
}
.style-guide-content p span{
    font-weight: bold;
}
.style-guide-content img {
    width: 40vw;
    height: 100%;
}
.ui-design-section h3 {
    padding: 100px 100px 0 100px;
    font-size: 22px;
}
.ui-design-section p {
    font-size: 20px;
    line-height: 1.6;
    padding: 40px 100px 0 100px;
}
.ui-design-section p span {
    font-weight: bold;
}
.ui-design-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(53, 127, 165);
    padding: 10px 30px 10px 10px;
    margin-top: 40px;
}
.ui-design-section ul li img {
    width: 240px;
}
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 100px 0 100px;
    border-top: 2px solid rgb(240, 240, 240);
    padding: 20px 0 12px 0;
    color: rgb(145, 145, 145);
    font-size: 12px;
    position: relative;
}
.footer-designer-part {
    position: absolute;
    left: 0;
}
.footer-my-name {
    padding-left: 3px;
    color: black;
}